{% extends "layout.njk" %}

{% block head%}
        <title>Sobre - Alan Alves</title> 
{% endblock%}

{% block content %}

<section id="profile">
    <figure><img src="{{ about.avatar_url }}"></figure>
    <figcaption>
        <h1>{{ about.name }}</h1>
        <h2>{{ about.role }}</h2>
        <p>{{ about.description }}</p>
    </figcaption>
</section>
<footer class="links">
    {% for link in about.links %}
    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    {% endfor %}
</footer>

{% endblock %}