@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
:root {
    --color-green: #53E4A4;
    --color-blue: #005bc296;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

header {
    padding: 20px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header nav {
    text-align: center;
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    margin: 0 16px;
    border-bottom: 1px solid var(--color-green);
}

.links a:hover {
    color: var(--color-green);
    transition: color 250ms;
}

#profile {
    text-align: center;
    padding: 32px;
}

#profile img {
    border-radius: 50%;
    border: 4px solid var(--color-green);
    margin-bottom: 32px;
    height: 250px;
}

#profile h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#profile h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 12px;
    opacity: 0.8;
}

#profile p {
    max-width: 500px;
    margin: 12px auto;
    font-size: 18px;
    line-height: 28px;
}

#profile h2 a {
    color: var(--color-green);
}

/* CARDS */

.title {
    text-align: center;
    padding: 32px;
}

.title h1 {
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
}

.cards {
    max-width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-blue);
    display: grid;
    cursor: pointer;
}

.card_img-container img {
    width: 100%;
}

.card_content, .card_info {
    padding: 24px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card_price {
    background-color: var(--color-blue);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*  MODAL  */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: black;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: #ffffff;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*  MODAL.ACTIVE  */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/* NOT FOUND */

.notfound {
    text-align: center;
    padding: 27vh;
}

.notfound h1 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 12px;
    font-weight: bold;
}

.notfound p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    opacity: 0.8;
}

.notfound p a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid var(--color-green);
}

.notfound a:hover {
    color: var(--color-green);
    transition: color 250ms;
}

/*  VIDEO PAGE  */

.video {
    margin: 0 auto;
    max-width: 800px;
}

.card_video-container {
    position: relative;
    padding-top: 65%;
}

.card_video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

footer.links a {
    border-bottom: none;
}

footer img {
    height: 48px;
}

footer img:hover {
    box-shadow: 0px 0px 8px #53E4A4;
    border-radius: 50%;
}

figure img:hover{
    box-shadow: 0px 0px 15px #53E4A4;
}
