{% extends "layout.html" %}

{% block head%}
        <title>Sobre - Alan Alves</title> 
{% endblock%}

{% block content %}

<section id="profile">
    <figure><img src="assets/Alan-.jpg" alt="Imagem de perfil de Alan Alves"></figure>
    <figcaption>
        <h1>Alan Alves</h1>
        <h2>Analista de Suporte e Monitoramento NOC - <a href="https://www.estabil.is/" target="_blank">Estabilis</a>
        </h2>
        <p>Estudante de programação web, focado em se tornar um programador full-stack</p>
    </figcaption>
</section>
<footer class="links">
    <a href="https://github.com/alanalv3s" target="_blank">GitHub</a>
    <a href="https://twitter.com/AlanAlv3s" target="_blank">Twitter</a>
    <a href="https://www.linkedin.com/in/alan-alves-silva" target="_blank">LinkedIn</a>
    <a href="mailto: alanams97@gmail.com" target="_blank">E-mail</a>
    <a href="tel:+5511975036861" target="_blank">Telefone</a>
</footer>

{% endblock %}