{% extends "layout.html" %}

{% block head %}

<title>Portfolio - Alan Alves</title> 

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}

<section class="title">
    <h1>Portfolio</h1>
</section>

<main class="cards">
    <div class="card" id="DiXbJL3iWVs">
        <div class="card_img-container">
            <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" height="200px" alt="Vídeo-Aula">
        </div>
        <div class="card_content">
            <p>Inicando no Node.js</p>
        </div>
        <div class="card_info">
            <p>1h e 33 min</p>
            <p class="card_price">Free</p>
        </div>
    </div>

    <div class="card" id="DiXbJL3iWVs">
        <div class="card_img-container">
            <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" height="200px" alt="Vídeo-Aula">
        </div>
        <div class="card_content">
            <p>Inicando no Node.js</p>
        </div>
        <div class="card_info">
            <p>1h e 33 min</p>
            <p class="card_price">Free</p>
        </div>
    </div>

    <div class="card" id="DiXbJL3iWVs">
        <div class="card_img-container">
            <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" height="200px" alt="Vídeo-Aula">
        </div>
        <div class="card_content">
            <p>Inicando no Node.js</p>
        </div>
        <div class="card_info">
            <p>1h e 33 min</p>
            <p class="card_price">Free</p>
        </div>
    </div>

    <div class="card" id="DiXbJL3iWVs">
        <div class="card_img-container">
            <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" height="200px" alt="Vídeo-Aula">
        </div>
        <div class="card_content">
            <p>Inicando no Node.js</p>
        </div>
        <div class="card_info">
            <p>1h e 33 min</p>
            <p class="card_price">Free</p>
        </div>
    </div>

    <div class="card" id="DiXbJL3iWVs">
        <div class="card_img-container">
            <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" height="200px" alt="Vídeo-Aula">
        </div>
        <div class="card_content">
            <p>Inicando no Node.js</p>
        </div>
        <div class="card_info">
            <p>1h e 33 min</p>
            <p class="card_price">Free</p>
        </div>
    </div>

    <div class="card" id="DiXbJL3iWVs">
        <div class="card_img-container">
            <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" height="200px" alt="Vídeo-Aula">
        </div>
        <div class="card_content">
            <p>Inicando no Node.js</p>
        </div>
        <div class="card_info">
            <p>1h e 33 min</p>
            <p class="card_price">Free</p>
        </div>
    </div>

</main>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <iframe src="https://www.youtube.com.br/embed/DiXbJL3iWVs" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="scripts.js"></script>

{% endblock %}